numpy~=2.2.6
h11~=0.16.0
defusedxml~=0.7.1
ipython~=9.2.0
pillow~=11.2.1
python-bidi~=0.6.6
PyYAML~=6.0.2
sniffio~=1.3.1
pytest~=8.3.5
ninja~=1.11.1.4
charset-normalizer~=3.4.2
setuptools~=80.8.0
pytz~=2025.2
overrides~=7.7.0
cffi~=1.17.1
scipy~=1.15.2
threadpoolctl~=3.6.0
torch~=2.7.1
mpmath~=1.3.0
sympy~=1.14.0
packaging~=25.0
platformdirs~=4.3.8
decorator~=5.2.1
filelock~=3.18.0
torchvision~=0.22.1
psutil~=7.0.0
colorama~=0.4.6
networkx~=3.5
urllib3~=2.4.0
fsspec~=2025.5.1
requests~=2.32.3
MarkupSafe~=3.0.2
pyclipper~=1.3.0.post6
shapely~=2.1.1
easyocr~=1.7.2
six~=1.17.0
scikit-image~=0.25.2
fastapi~=0.115.14
starlette~=0.46.2
pydantic~=2.11.7
anyio~=4.9.0
imageio~=2.37.0
tifffile~=2025.6.11
scikit-learn~=1.6.1
pandas~=2.2.3
annotated-types~=0.7.0
Jinja2~=3.1.6
httpx~=0.28.1
attrs~=25.3.0
typing_extensions~=4.13.2
pydantic_core~=2.33.2
lazy_loader~=0.4